<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Personal Assistant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/weather.css}">

</head>
<body>

<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-main">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Personal Assistant</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<!--Sidebar-->

<div class="sidebar">
    <a th:href="@{/todo/home}" class="item"><i class="fa-solid fa-bars"></i> Todo</a>
    <a th:href="@{/transaction/home}" class="item"><i class="fa-solid fa-receipt"></i> Personal Expenses</a>
    <a th:href="@{/logout}" class="item"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>

</div>

<div class="content">
    <div class="external-card">
        <div class="card">
            <div class="weather">
                <h2 class="city"></h2>
                <h1 class="temp"></h1>
                <div class="flex">
                    <img src="https://openweathermap.org/img/wn/04n.png" alt="" class="icon" />
                </div>
                <div class="humidity"></div>
                <div class="wind"></div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/weather.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!--jQuery-->
<script
        src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>
</body>
</html>