<!DOCTYPE html>
<html lang="en" th:xmlns="wwww.thymeleaf.org" th:replace="fragments/personal_expenses_fragment::navbar(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<section>
    <div th:classappend="${profitLoss>0} or ${profitLoss==0} ? success : danger ">
        <div class="bar">
            <div class="container">
                <div id="container">
                </div>
            </div>
        </div>
        <div class="bar">
            <div class="container1">
                <div id="container1">

                </div>
            </div>
        </div>
        <div class="text-center" th:if="${profitLoss!=0}">
            <h6 th:text="${profitLoss>0}? 'You are in profit ' : 'You are in loss '"></h6>
            <h6 th:text="${profitLoss}"></h6>
        </div>
    </div>
</section>
</body>
</html>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">
    $(function () {
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Expenses'
            },
            subtitle: {
                text: 'Details'
            },
            xAxis: {
                categories: [[${expensesKeys}]],
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 100000,
                title: {
                    text: 'Amount'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Category',
                data: [[${expensesValues}]]
            }]
        });
    });
    $(function () {
        Highcharts.chart('container1', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Income'
            },
            subtitle: {
                text: 'Details'
            },
            xAxis: {
                categories: [[${incomeKeys}]],
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 100000,
                title: {
                    text: 'Amount'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Category',
                data: [[${incomeValues}]]
            }]
        });
    });
</script>
