<!DOCTYPE html>
<html lang="en" th:xmlns="wwww.thymeleaf.org" th:replace="fragments/home_fragment::navbar(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 form">
                <a th:href="@{/user/signup}"  class="arrow">
                    <i class="fa-solid fa-arrow-left fa-xl"></i>
                </a>
                <div class="container text-center">
                    <h3 class="heading">Forgot Password</h3>
                    <hr/>
                </div>
                <form th:action="@{/user/verify-otp}" th:method="post" th:object="${userDto}">
                    <h4>We have sent otp to your email. Please check your inbox to change your password. </h4>
                    <div class="mb-3">
                        <label for="userVerification" class="form-label">Enter your otp</label>
                        <input type="text" class="form-control" th:field="*{verificationCode}" id="userVerification" placeholder="Enter otp">
                    </div>
                    <div class="container text-center">
                        <button type="submit" class="button">Verify</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
</body>
</html>