.external-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 98%;
    /*background: #009688FF;*/
background-image: url("https://source.unsplash.com/1600x900/?weather");
    font-family: 'Open Sans', sans-serif;
}
.card {
    background: rgba(56, 51, 51, 0.56);
    color: white;
    padding: 15px;
    margin: 5px;
    border-radius: 30px;
    width: 100%;
    max-width: 490px;

}

h1.temp {
    margin: 0 0 10px;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}